html {
  font-family: "Work Sans";
  overflow-x: hidden;
}
:root {
  --primary-color: #fff;
  --secondary-color: #0074e0;
  --primary-heading: #142f63;
}
/*banner*/
.about-banner {
  background-color: #021b49;
  padding-bottom: 17px;
  background-image: url(/assets/images/About\ US\ Banner.svg);
  background-position: center center;
  background-size: cover;
  width: auto;
  height: 499px;
  background-repeat: no-repeat;
}
.bg-img {
  /* background-image: url(/assets/images/Banner\ Ilustration_about.png),
    url(/assets/images/Banner_about.png); */

  /* width: 718.3px; */
  height: 260px;
  margin: 100px 121px 0 121px;
}
.bg-img h2 {
  color: #021b49;
  
  padding-top: 10px;

  height: 50px;

  text-align: center;
}
.bg-img p {
  width: 580px;
  height: 77px;
  margin-top: 10px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 10px 150px 42px 340px; */
  font-size: 19px;
  line-height: 1.36;
  text-align: center;
  color: #021b49;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bg-img {
    margin: 0;
    width: 300px;
    height: 300px;
  }
  .bg-img h3 {
    width: auto;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 1px;
    margin: 50px 0 45px 0;
    text-align: center;
    color: #fff;
  }
  .bg-img p {
    width: auto;
    line-height: 1.5;
    margin: auto 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  .about-banner {
    width: auto;
    background-image: url(/assets/images/Banner\ Ilustration_about.png),
      url(/assets/images/Banner_about.png);
  }
}
/* About */
.about-info {
  padding: 0 0 17px 0;
}

.about-info h2 {
  height: 25px;
  color: #142f63;
  /* margin: 50px 382px 16px 381px; */
  margin: 50px auto 16px auto;
  /* font-size: 28px;
  font-weight: 500; */
  line-height: 1;
  text-align: center;
}
.pre {
  width: 895px;
  text-align: center;
  line-height: 1.56;
  margin-left: auto;
  margin-right: auto;
  color: #2c4470;
}
.pre .semibold {
  font-weight: 600;
}
.hr {
  width: 1300px;
  height: 1px;
  margin-top: 60px;

  background-color: rgba(44, 68, 112, 0.3);
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .about-info {
    width: auto;
  }
  .about-banner {
    height: 300px;
  }
  .about-info h5 {
    margin: 30px 0 10px 0;
    font-size: 24px;
  }
  .pre {
    /* width: 370px; */
    font-size: 13px;
    width: auto;
    margin: 7px 10px 15px 10px;
    text-align: justify;
  }
  .hr {
    width: 90vw;
    margin: 40px 0 20px 20px;
  }
}
/* Card */
.card-row .col {
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

.card-body {
  padding-top: 0;
}
.card-left {
  width: 300px;
  height: 380px;
  margin-top: 29px;

  box-shadow: 0 4px 4px 0 rgba(20, 47, 99, 0.05);
  border: solid 1px #c0c9db;
  border-radius: 8px;
  background-color: #fff;
}
.card-right {
  width: 300px;
  height: 380px;
  margin-top: 31px;
  margin-left: 50px;
  box-shadow: 0 4px 4px 0 rgba(20, 47, 99, 0.05);
  border: solid 1px #c0c9db;
  border-radius: 8px;
  background-color: #fff;
}
.card-right:hover,
.card-left:hover {
  border: solid 1px rgb(0, 116, 224, 0.5);
  /* margin-right: 20px; */
}
.card-img {
  width: 60px;
  height: 60px;
  margin-left: 36px;
  margin-top: 15px;
}
.card-title {
  width: 325px;
  margin: 10px 70px 11px 23px;
  color: #142f63;
  /* font-size: 19.5px;
  font-weight: 600;
  line-height: 1.5; */
  text-align: left;
}
.card-text-top {
  width: 210px;
  color: #142f63;
  margin: 10px 70px 11px 24px;
  font-size: 13px;
  line-height: 1.68;
  text-align: left;
}
.card-text-bottom {
  width: 220px;
  margin: 10px 70px 15px 23.5px;
  color: #142f63;
  font-size: 13px;
  line-height: 1.68;
  text-align: left;
}
.card-right-img {
  margin-top: 20px;
  
}
.card-right-img img {
  width: 30px;
  height: 32px;
  margin-left: 20px;
 
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card-row .col {
    flex-direction: column;
    margin-bottom: 0;
  }
  .card-row {
    margin-bottom: 0;
  }
  .card-left,
  .card-right {
    margin: 15px auto 20px auto;
    padding-left: 0;
    padding-right: 0;
  }
  .card-row {
    /* flex-direction: column; */
    justify-content: center;
    /* padding: auto;
    margin: auto; */
  }
}

/* About Team */

.text{
background: #fff;
width: 600px;
height: 550px;
transform: translateX(-20px);
}
.team-pic{
  height: 550px;
}

.team-container {
  background-color: #f8fafd;
  padding-bottom: 50px;
  
  
}
.team-heading {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #142f63;
  margin-top: 40px;
  line-height: 1;
}
.team-text {
  font-size: 18px;
  color: #2c4470;
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
}
.image-row {
  margin-top: 30px;
}


.team-image img {
  width: 600px;
  float: right;
 
  padding-left: 60px;
}
.team-description {
  width: 370px;
  color: #2c4470;
  font-size: 15px;
  line-height: 1.5;
}
.team-description,
.teamh {
  margin-left: 70px;
}
.teamh {
  color: #2c4470;
  padding-top: 20px;
}
.team-image {
  margin-left: auto;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .team-image img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .teamh {
    margin-top: 30px;
    text-align: center;
  }
  .team-description {
    text-align: justify;
  }
  .teamh,
  .team-description {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }
}

/* Industry Verticle  */

.industry-heading,
.industry-para {
  color: #2c4470;
  text-align: center;
}
.industry-heading {
  padding-top: 40px;
}
.industry {
  padding-top: 50px;
  padding-bottom: 30px;
}

.iv-image img {
  width: 650px;
  text-align: center;
  
  
}
.iv-content {
  width: 405px;
  height: 90px;
  margin-bottom: 30px;
  text-align: right;

  font-size: 12px;

  color: #142f63;
}
.iv-content h5 {
  font-size: 14px;
}
.iv-one {
  margin-left: 0px;
}
.iv-three {
  margin-left: 0;
}
.iv-two{
  margin-left: 0;
}
.iv-four {
  margin-left: 0;
  text-align: left;
}
.iv-five {
  text-align: left;
  margin-left: 0;
}
.iv-six {
  margin-left: 0;

  text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .iv-content{
    text-align: center;
    margin: 10px auto;
    width: auto;
  }
  .iv-image img{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
   padding-left: 0;
  }
  .industry{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* Our Technology */
.our-technology-banner {
  background-image: url(/assets/images/our-technology-banner.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-technology h4 {
  padding-top: 54px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 16px;
  text-align: center;
}
.information {
  text-align: center;
  font-size: 18px;
  width: 610px;
  margin: auto;
  line-height: 1.44;
  color: #fff;
  padding-bottom: 50px;
  flex-grow: 0;
}
.frameworks {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.frameworks p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.lit {
  margin-right: 60px;
}
.lit img {
  width: 100px;
  height: 100px;
}
.lit p{
  padding-top: 10px;
}
.react p{
  padding-top: 10px;
}
.angular p{
  padding-top: 10px;
}
.node p{
  padding-top: 10px;
}
.react {
  margin-right: 60px;
}

.angular {
  margin-right: 60px;
}

.node img {
  width: 100px;
  height: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .our-technology-banner {
    margin: 40px 0 0px 0;
  }

  .our-technology h4 {
    padding-top: 34px;
    font-size: 22px;
    padding-bottom: 13px;
    margin: 0px;
  }
  .technology {
    height: auto;
  }
  .information {
    width: auto;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: auto;
  }
  .frameworks {
    flex-wrap: wrap;
  }
  .lit img,
  .react img,
  .angular img,
  .node img {
    width: 90px;
    height: 90px;
  }
  .lit,
  .react,
  .angular,
  .node {
    margin-left: 25px;
  }
  .node {
    margin-right: 30px;
  }
  .lit p,
  .react p,
  .angular p,
  .node p {
    font-size: 17px;
    margin-top: 10px;
  }
}
/* Why Ubercore */
.why-ubercore {
  height: 28px;
  /* font-size: 25px;
  font-weight: 500;
  line-height: 1; */
  text-align: center;
  color: #142f63;
  margin-top: 56px;
  padding-bottom: 50px;
}
.why-ubercore-info {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #2c4470;
  margin-bottom: 50px;
}
.quality-container {
  display: flex;
  /* width: 65%; */
  
}
.ubercore-container {
  margin-right: 30px;
}

.quality-of-code-img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 23px;
}
.ubercore-info {
  display: flex;
  width: 320px;
}
.quality-of-code h6 {
  font-weight: 600;
  /* font-size: 14px;
  font-weight: 600;

  line-height: 1.44; */

  color: #2c4470;
}
.quality-of-code-info {
  width: 270px;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #2c4470;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .why-ubercore {
    font-size: 22px;
    margin: 40px 0 0 0;
    padding: 0;
  }
  .why-ubercore-info {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .quality-container {
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
    padding-bottom: 0px;
  }
  .quality-of-code h5 {
    font-size: 16px;
  }
  .quality-of-code-info {
    font-size: 14px;
    width: auto;
    text-align: justify;
  }
}
/* Let's Collaborate*/

.lets-collaborate-container {
  background-color: #112548;
  height: 374px;
  flex-grow: 0;
  margin: 0px 0 64px 0;
  padding: 59px 181px 51px 182px;
}
.lets-collaborate {
  text-align: center;
  color: #fff;
  font-family: "Work Sans";
}
.input-type {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.input-field {
  border-radius: 6px;
  color: white;
  background-color: #2f456b;
  margin: 0 28px 0 0;
  padding: 11px 20px 11px 20px;
  height: 40px;
  border: none;
  outline: none;
  font-family: "Work Sans";
  width: 337px;
  height: 48px;
}
::placeholder {
  width: 117px;
  height: 26px;
  font-size: 16px;
  font-family: "Work Sans";
  line-height: 1.63;
  text-align: left;
  color: #c8d2e3;
  font-family: "Work Sans";
}
.input-type .btn-submit {
  height: 40px;
  width: 130px;
  font-size: 16px;
  font-family: "Work Sans";
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: #fff;
  font-family: "Work Sans";
}
.or {
  
  margin-top: 34px;
  text-align: center;
  font-size: 16px;
  font-family: "Work Sans";
  line-height: 1.63;
  color: #c8d2e3;
  font-family: "Work Sans";
}
.ubercore {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.78;
  font-family: "Work Sans";
  text-align: center;
  color: #0074e0;
  text-decoration: none;
  text-decoration-line: none;
  font-family: "Work Sans";
}
.mail{
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  /* lets-collaborate */


 .lets-collaborate-container {
  margin: 0;
  padding: 0 0 15px 0;
  height: auto;
}

.lets-collaborate {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}
.input-type {
  flex-direction: column;
  margin-top: 40px;
  /* margin-left: 40px; */
}
.input-field {
  width: 300px;
  margin: 0px auto 20px auto;
}
.input-type .btn-submit {
  padding: 0;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.or {
  margin-top: 10px;
  font-size: 13px;
}
.ubercore {
  font-size: 17px;
  /* text-align: center; */
  width: auto;
  margin: auto;
  
}
}
/* footer */

.footer h5 {
  /* font-size: 16px; */
  color: #2c4470;
  margin-bottom: 27.4px;
  font-weight: 600;
}
.footer h6 {
  /* font-size: 16px; */
  color: #2c4470;
  font-weight: 500;
}
.footer a:hover {
  text-decoration: none;
  color: #0074e0;
}
.footer {
  font-family: "Work Sans";
  padding-left: 30px;
}
.footer-border{
  width: 1500px;
  height: 1px;
  flex-grow: 0;
  margin: 40.5px 0px 0px 0;
  background-color: #cad5e0;
}
.company-name h3 {
  font-family: "Work Sans";
  color: #0074e0;
  width: 230px;
  transform: translateX(-50px);
}

.social-media h5{
  width: 170px;
}
.social-img {
  display: flex;
  flex-direction: row;
}
.facebook {
  margin-right: 10px;
}
.instagram {
  margin-right: 10px;
}
.twitter{
  margin-right: 10px;
}
.linkedin{
  padding-top: 3px;
}
.rights-reserved p {
  font-size: 12px;
  text-align: left;
  color: #2c4470;
}
.rights-reserved {
  margin-top: 8px;
  margin-bottom: 24px;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
}
.footer h6:hover {
  text-decoration: none;
  color: #0074e0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.company-name h3{
  width: auto;
  margin: auto;
  padding: 70px 0px 50px 30px;
  transform: none;
  }
.tech-stack h5{
  padding-top: 50px;
}
.legal h5{
  padding-top: 50px;
}
.how-we-work h5{
  padding-top: 50px;
}
.social-media h5{
  padding-top: 50px;
}
.footer-border{
  width: auto;
 
}
}

/* #navbar */
#ubercore-banner {
  font-family: "Work Sans";
}
.logo h2 {
  color: #0074e0;
  
  font-size: 26px;
}
.navbar{
  background: #fff;
}
.logo a {
 
  text-decoration: none;
}
.menu a {
  color: #0074e0;
  font-weight: 500;
  font-family: "Work Sans";
}
.menu a:hover {
  color: #2c4470;
}
.menu a:focus{
  color: #2c4470;
}
.start-project {
  width: 180px;
  background-color:#0074e0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #fff;
  margin: auto;
  padding: 10px;
}
.navbar-collapse {
  justify-content: center;
}
#about-us-header li a{
  text-align: center;
}
.dropdown-menu a {
  color: #2c4470;
 
  
}
.dropdown-menu a:hover {
  color: #0074e0;
}
.nav-link:focus {
  color: #fff;
}

.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu li {
  text-align: center;
}
.fas {
  font-size: 13px;
}

#services {
  width: 671px;
  height: 304px;
  transform: translate(-50%, 3%);
  padding: 0;
 
  border: solid 1px #d8e0ed;
}
#start-project {
  background-color: #f7f9fe;
  height: 302px;
}
#start-project img {
  width: 200px;
  height: 220px;
}
.project-rectangle {
  width: 146px;
  height: 36px;
  flex-grow: 0;
  background-color: #0074e0;
  border-radius: 5px;
  margin: 20px 9.7px 0 20px;
  border: solid 2px #0074e0;
}
.project {
  width: 140px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  position: relative;
  padding-top: 5px;
}
.fullstack-development {
  display: flex;
 

}
.fullstack-development a {
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
}
#full-stack {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  align-items: center;
  padding: 21px 32px 10px 20px;
  margin-left: 20px;
  
 
 
}
#full-stack img {
  padding:0 9px 15px 10px ;
}

#product-engineering {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  margin-left: 20px;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
#product-engineering img {
  padding:10px 9px 15px 10px ;
}
#product-engineering a {
  padding-top: 10px;
  width: 50px;
}
#cyber-security {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  margin-left: 20px;
  border-bottom: none;
  align-items: center;
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  padding: 10px 20px 9px 20px;
  
}
#cyber-security img {
  padding:10px 9px 15px 10px ;
}
#cyber-security a {
  padding-top: 10px;
  width: 50px;
  
}
.cyber-security-hide{
  visibility: hidden;
}
.hide-cyber{
  border-right: solid 1px rgba(44, 68, 112, 0.1);
  height: 40px;
}
.ui-hidden{
 
  visibility: hidden;
}
.data-hidden{
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  transform: translateY(-1px);
  width: 200px;
  
}
#web-development {
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  width: 200px;
  border-left: none;
  border-top: none;
  
  align-items: center;
  padding: 16px 32px 0 20px;
}
#web-development a{
  width: 50px;
 
}
#web-development img {
  padding:0 9px 30px 10px ;
}

#responsive-ui{
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  width: 200px;
  border-left: none;
  border-top: none;
 
  padding: 10px 20px 14.5px 20px;
}
#responsive-ui img {
 
 
  width: 55px;
  height: 50px;
  
  padding-right: 9px; 
}
#responsive-ui a {
  padding-top: 8px;
  
}
#dropdownMenuLink :hover::after {
  text-align: center;
}
#front-end {
  border: solid 1px #d8e0ed;
  background-color: #fff;
  text-align: center;

  font-family: "Work Sans";
}
#front-end a {
  font-size: 16px;
  
}
.aboutus a {
  font-size: 16px;
}
.web-tech {
  line-height: 1.85;
  font-size: 13px;
  text-align: left;
  color: var(--primary-heading);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar-toggler-icon i {
    color: #0074e0;
    font-size: 25px;
    margin: auto;
  
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .logo {
    display: flex;
    justify-content:space-between;
    
  }
 
  .menu {
    text-align: end;
  }

  /* about  */

  #dropdownMenuLink {
    margin: 0;
  }
  #about-us-header {
    transform: translate(80%, 10%);
  }

  /* service */

  #start-project {
    display: none;
  }
  .rectangle-30{
    display: none;
  }
  #services {
    width: auto;
    height: auto;
    transform: none;
  }
  /* .nav-services {
    width: 280px;
    
  } */
  #full-stack{
    margin: auto;
  }
  #product-engineering{
    margin: auto;
  }
  #cyber-security {
    border-bottom:solid 1px rgba(44, 68, 112, 0.1) ;
    margin: auto;
    
  }
  #cyber-security p{
    text-align: left;
  }
  #web p{
    text-align: left;
  }
  .hide-cyber{
    display: none;
  }
  #web{
    margin: auto;
  }
  .data-hidden{
    display: none;
  }
  #responsive-ui {
    border-bottom:none ;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
