@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");


/* navbar */
#ubercore-banner {
  font-family: "Work Sans";
  margin-bottom: 0;
}
.navbar {
  font-family: "Work Sans";
  background-color: #fff;
}
.logo h2, .menu a  {
  color: #0074e0;
}

.menu a:hover {
  color: #2c4470;
}
.menu a:focus{
  color: #2c4470;
}
.start-project {
  background-color:#0074e0;
  color: #fff;
}

#about-us-header li a{
  text-align: center;
}
.dropdown-menu a {
  color: #2c4470;
 
  
}
.dropdown-menu a:hover {
  color: #0074e0;
}
.nav-link:focus {
  color: #fff;
}

.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu li {
  text-align: center;
}
.fas {
  font-size: 13px;
}

#services {
  width: 671px;
  height: 304px;
  transform: translate(-50%, 3%);
  padding: 0;
 
  border: solid 1px #d8e0ed;
}
#start-project {
  background-color: #f7f9fe;
  height: 302px;
}
#start-project img {
  width: 200px;
  height: 220px;
}
.project-rectangle {
  width: 146px;
  height: 36px;
  flex-grow: 0;
  background-color: #0074e0;
  border-radius: 5px;
  margin: 20px 9.7px 0 20px;
  border: solid 2px #0074e0;
}
.project {
  width: 140px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  position: relative;
  padding-top: 5px;
}
.fullstack-development {
  display: flex;
 

}
.fullstack-development a {
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
}
#full-stack {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  align-items: center;
  padding: 21px 32px 10px 20px;
  margin-left: 20px;
  
 
 
}
#full-stack img {
  padding:0 9px 15px 10px ;
}

#product-engineering {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  margin-left: 20px;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
#product-engineering img {
  padding:10px 9px 15px 10px ;
}
#product-engineering a {
  padding-top: 10px;
  width: 50px;
}
#cyber-security {
  border: solid 1px rgba(44, 68, 112, 0.1);
  border-left: none;
  border-top: none;
  margin-left: 20px;
  border-bottom: none;
  align-items: center;
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  padding: 10px 20px 9px 20px;
  
}
#cyber-security img {
  padding:10px 9px 15px 10px ;
}
#cyber-security a {
  padding-top: 10px;
  width: 50px;
  
}
.cyber-security-hide{
  visibility: hidden;
}
.hide-cyber{
  border-right: solid 1px rgba(44, 68, 112, 0.1);
  height: 40px;
}
.ui-hidden{
 
  visibility: hidden;
}
.data-hidden{
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  transform: translateY(-1px);
  width: 200px;
  
}
#web-development {
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  width: 200px;
  border-left: none;
  border-top: none;
  
  align-items: center;
  padding: 16px 32px 0 20px;
}
#web-development a{
  width: 50px;
 
}
#web-development img {
  padding:0 9px 30px 10px ;
}

#responsive-ui{
  border-bottom: solid 1px rgba(44, 68, 112, 0.1);
  width: 200px;
  border-left: none;
  border-top: none;
 
  padding: 10px 20px 14.5px 20px;
}
#responsive-ui img {
 
 
  width: 55px;
  height: 50px;
  
  padding-right: 9px; 
}
#responsive-ui a {
  padding-top: 8px;
  
}
#dropdownMenuLink :hover::after {
  text-align: center;
}
#front-end {
  border: solid 1px #d8e0ed;
  background-color: #fff;
  text-align: center;

  font-family: "Work Sans";
}
#front-end a {
  font-size: 16px;
  
}
.aboutus a {
  font-size: 16px;
}
.web-tech {
  line-height: 1.85;
  font-size: 13px;
  text-align: left;
  color: var(--primary-heading);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    font-family: "Work Sans";
  }

  /* header */

  .navbar-toggler-icon i {
    color: #0074e0;
    font-size: 25px;
    margin: auto;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
 
  .menu a {
    text-align: end;
  }

  /* about  */

  #dropdownMenuLink {
    margin: 0;
  }
  #about-us-header {
    transform: translate(80%, 10%);
  }

  /* service */

  #start-project {
    display: none;
  }
  #services {
    width: auto;
    height: auto;
    transform: none;
  }
  /* .nav-services {
    width: 280px;
    
  } */
  #full-stack{
    margin: auto;
  }
  #product-engineering{
    margin: auto;
  }
  #cyber-security {
    border-bottom:solid 1px rgba(44, 68, 112, 0.1) ;
    margin: auto;
    
  }
  #cyber-security p{
    text-align: left;
  }
  #web p{
    text-align: left;
  }
  .hide-cyber{
    display: none;
  }
  #web{
    margin: auto;
  }
  .data-hidden{
    display: none;
  }
  #responsive-ui {
    border-bottom:none ;
  }
  /* technology */

  #front-end {
    transform: translate(80%, 4%);
  }

  .rectangle {
    display: none;
  }
  .rectangle-30 {
    display: none;
  }
}

/* Contact-Banner */
.contact-banner {
  height: 400px;

  background-color: #021b49;
}
.contact-head {
  padding-top: 110px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contact-banner {
    width: 400px;
    height: 400px;
    background-color: #021b49;
  }
  .contact-head {
    padding-top: 90px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
}
/* Card-Contact */
.card-transform {
  transform: translateY(-230px);
}
.card {
  width: 830px;
  height: 620px;
  box-shadow: 0 4px 4px 0 rgba(20, 47, 99, 0.05);
  border: solid 1px #c0c9db;
  background-color: #fff;
  margin-left: 135px;
  border-radius: 10px;
  margin-top: 30px;
}
.card-head p {
  height: 28px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #2c4470;
  margin-top: 40px;
}
.card-or {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #2c4470;
  margin: auto;
  margin-bottom: 15px;
}
.card-email {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  color: #0074e0;
}
.card-email:hover {
  text-decoration: none;
}
.card-email:hover {
  text-decoration: none;
}
.email-border {
  width: 180px;
  transform: translateY(-18px);
  text-align: center;
  margin: auto;
  border: solid 0px var(--secondary-color);
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-transform {
    max-width: 300px;
  }
  .card {
    width: 350px;
    height: 553.5px;
    box-shadow: 0 4px 4px 0 rgba(20, 47, 99, 0.05);
    border: solid 1px #c0c9db;
    background-color: #fff;
    border-bottom: none;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
  }
  .cardemail {
    transform: translateY(30px);
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  hr {
    display: none;
  }
  .inputcontact {
    margin: 0 auto;
    transform: translateX(-20px);
  }
  .card-head p {
    height: 28px;
    width: auto;
    font-size: 15px;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #2c4470;
    margin: 0 auto;
    padding-top: 20px;
  }
  .email-border {
    width: 180px;
    transform: translateY(-15px);
    margin-left: 110px;
    border: solid 1px var(--secondary-color);
  }
  
}
.card-contactus {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #2c4470;
}
.table-contact {
  margin-left: 140px;
}
.first-name {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  margin-top: 30px;
}
.last-name {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  margin-top: 30px;
}
.email {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  margin-top: 30px;
}
.phone-number {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  margin-top: 30px;
}
.message-label {
  font-size: 14px;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  margin-top: 30px;
}
.star {
  color: #0074e0;
}

.contact-text {
  border-radius: 5px;
  border: solid 1px #2c4470;
  background-color: #fff;
  outline: none;
  width: 250px;
  height: 36px;
}
.message {
  width: 530px;
  height: 36px;
  flex-grow: 0;
  margin-left: 17px;
  border: solid 1px #2c4470;
  background-color: #fff;
}
.btn {
  width: 270px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #0074e0;
  background-color: #0074e0;
  margin-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-contactus {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #2c4470;
   
  }
  .first-name {
    display: inline;
    color: #2c4470;
    position: relative;
    top: 20px;
    margin-left: -125px;
  }
  .last-name {
    display: inline;
    color: #2c4470;
    position: relative;
    margin-left: -125px;
    top: 30px;
  }
  .email {
    display: inline;
    color: #2c4470;
    position: relative;
    margin-left: -125px;
    top: 20px;
  }
  .phone-number {
    display: inline;
    color: #2c4470;
    position: relative;
    margin-left: -125px;
    top: 30px;
  }
  .message-label {
    display: inline;
    color: #2c4470;
    position: relative;
    margin-left: -125px;
    top: 10px;
  }

  .star {
    color: #0074e0;
  }

  .contact-text {
    float: left;
    border-radius: 5px;
    border: solid 1px #2c4470;
    background-color: #fff;
    outline: none;
    position: relative;
  }
  #firstname {
    margin-top: -38px;
    width: 200px;
  }
  #lastname {
    width: 200px;
  }
  #email {
    margin-top: -40px;
    width: 200px;
  }
  #phonenumber {
    width: 200px;
    
  }

  .message {
    width: 200px;
    height: 30px;
    flex-grow: 0;
    margin-left: 17px;
    border: solid 1px #2c4470;
    background-color: #fff;
    top: -20px;
  }
  .btn {
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #0074e0;
    background-color: #0074e0;
    margin-left: -60px;
    color: #fff;
    margin-top: 20px;
  }
}

/* Ubercore Representative */

.ubercore-representative-container {
  height: 330px;
  background-color: #f8fbff;
  margin-bottom: 60px;
  margin-top: -170px;
}
.ubercore-representative p {
  width: 630px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #2c4470;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-top: 30px;
}
.contact-table {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.contact-td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0;
  border-left: none;
  border-right: none;
}
.contact-th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-left: none;
  border-right: none;
}
.india {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  border-right: 1px solid rgba(44, 68, 112, 0.3);
  
}
.bidar {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  padding-top: 13px;
 
}
.bidar-number {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  padding-bottom: 12px;
}
.sirsi {
  border-bottom: none;
}
.hydrabad {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  
}
.new-zealand {
  margin-top: 6px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  padding-left: 45px;
}

.wellington {
  /* font-size: 18px; */
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2c4470;
  padding-left: 45px;
}
#bengaluru{
  border-right: 1px solid rgba(44, 68, 112, 0.3);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ubercore-representative-container {
    width: 0 auto;
    height: 430px;
    background-color: #f8fbff;
    /* margin-bottom: 60px;
    
    margin-top: -320px; */
    margin-bottom: 0;
  }

  .ubercore-representative p {
    width: 350px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #2c4470;
    margin-bottom: 30px;
    margin-left: -20px;
    margin-top: 30px;
  }
  .contact-table table {
    width: 430px;
    /* display: flex;
    flex-direction: column; */
    margin-left: -10px;
    border: none;
  }
  
  .india {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    text-align: left;
    color: #2c4470;
    border: none;
    border-right: none;
    border-bottom: none;
    
  }
  .bidar {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2c4470;
    padding-top: 13px;
    margin-left: 10px;
    border-bottom: none;
    
   
   
    
    
  }
  .bidar-number {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2c4470;
    padding-bottom: 12px;
  }
  .sirsi {
    border-bottom: none;
  }

  .hydrabad {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2c4470;
    
    
  }
  .new-zealand {
    border: none;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    text-align: left;
    color: #2c4470;
    transform: translate(-460px, 200px);
  }
  .borderwellington {
    border-top: 1px solid black;
  }
  .wellington {
    border: none;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2c4470;
    transform: translate(-460px, 200px);
  }
  #bengaluru {
   margin: auto;
   border-right: none;
  
    
  
  }
}
/* footer */

.footer h5 {
  /* font-size: 16px; */
  color: #2c4470;
  margin-bottom: 27.4px;
  font-weight: 600;
}
.footer h6 {
  /* font-size: 16px; */
  color: #2c4470;
  font-weight: 500;
}
.footer a:hover {
  text-decoration: none;
  color: #0074e0;
}
.footer {
  font-family: "Work Sans";
  padding-left: 30px;
}
.footer-border{
  width: 1500px;
  height: 1px;
  flex-grow: 0;
  margin: 40.5px 0px 0px 0;
  background-color: #cad5e0;
}
.company-name h3 {
  font-family: "Work Sans";
  color: #0074e0;
  width: 230px;
  transform: translateX(-50px);
}

.social-media h5{
  width: 170px;
}
.social-img {
  display: flex;
  flex-direction: row;
}
.facebook {
  margin-right: 10px;
}
.instagram {
  margin-right: 10px;
}
.twitter{
  margin-right: 10px;
}
.linkedin {
  padding-top: 3px;
}
.rights-reserved p {
  font-size: 12px;
  text-align: left;
  color: #2c4470;
}
.rights-reserved {
  margin-top: 8px;
  margin-bottom: 24px;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
}
.footer h6:hover {
  text-decoration: none;
  color: #0074e0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
.company-name h3{
  width: auto;
  margin: auto;
  padding: 70px 0px 50px 30px;
  transform: none;
  }
.tech-stack h5{
  padding-top: 50px;
}
.legal h5{
  padding-top: 50px;
}
.how-we-work h5{
  padding-top: 50px;
}
.social-media h5{
  padding-top: 50px;
}
.footer-border{
  width: auto;
 
}
}
