html,body {
    font-family: "Work Sans";
    overflow-x: hidden;
  }
  :root {
    --primary-color: #fff;
    --secondary-color: #0074e0;
    --primary-heading: #142f63;
  }
   /* navbar */
   #ubercore-banner {
    font-family: "Work Sans";
  }
  .navbar{
    background: #fff;
  }
  .logo h2 {
    color: #0074e0;
    margin-bottom: 0;
    margin-left: 50px;
    width: 210px;
    font-size: 26px;
  }
  .logo a {
 
    text-decoration: none;
  }
  .menu a {
    color: #0074e0;
    font-weight: 500;
    font-family: "Work Sans";
  }
  .menu a:hover {
    color: #2c4470;
  }
  .menu a:focus{
    color: #2c4470;
  }
  .start-project {
    width: 180px;
    background-color:#0074e0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #fff;
    margin: auto;
    padding: 10px;
  }
  .navbar-collapse {
    justify-content: center;
  }
  #about-us-header li a{
    text-align: center;
  }
  .dropdown-menu a {
    color: #2c4470;
   
    
  }
  .dropdown-menu a:hover {
    color: #0074e0;
  }
  .nav-link:focus {
    color: #fff;
  }
 
  .dropdown-menu a {
    text-decoration: none;
  }
  .dropdown-menu li {
    text-align: center;
  }
  .fas {
    font-size: 13px;
  }
  
  #services {
    width: 671px;
    height: 304px;
    transform: translate(-50%, 3%);
    padding: 0;
   
    border: solid 1px #d8e0ed;
  }
  #start-project {
    background-color: #f7f9fe;
    height: 302px;
  }
  #start-project img {
    width: 200px;
    height: 220px;
  }
  .project-rectangle {
    width: 146px;
    height: 36px;
    flex-grow: 0;
    background-color: #0074e0;
    border-radius: 5px;
    margin: 20px 9.7px 0 20px;
    border: solid 2px #0074e0;
  }
  .project {
    width: 140px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 5px;
  }
  .fullstack-development {
    display: flex;
   
  
  }
  .fullstack-development a {
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #2c4470;
  }
  #full-stack {
    border: solid 1px rgba(44, 68, 112, 0.1);
    border-left: none;
    border-top: none;
    align-items: center;
    padding: 21px 32px 10px 20px;
    margin-left: 20px;
    
   
   
  }
  #full-stack img {
    padding:0 9px 15px 10px ;
  }
  
  #product-engineering {
    border: solid 1px rgba(44, 68, 112, 0.1);
    border-left: none;
    border-top: none;
    margin-left: 20px;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }
  #product-engineering img {
    padding:10px 9px 15px 10px ;
  }
  #product-engineering a {
    padding-top: 10px;
    width: 50px;
  }
  #cyber-security {
    border: solid 1px rgba(44, 68, 112, 0.1);
    border-left: none;
    border-top: none;
    margin-left: 20px;
    border-bottom: none;
    align-items: center;
    border-bottom: solid 1px rgba(44, 68, 112, 0.1);
    padding: 10px 20px 9px 20px;
    
  }
  #cyber-security img {
    padding:10px 9px 15px 10px ;
  }
  #cyber-security a {
    padding-top: 10px;
    width: 50px;
    
  }
  .cyber-security-hide{
    visibility: hidden;
  }
  .hide-cyber{
    border-right: solid 1px rgba(44, 68, 112, 0.1);
    height: 40px;
  }
  .ui-hidden{
   
    visibility: hidden;
  }
  .data-hidden{
    border-bottom: solid 1px rgba(44, 68, 112, 0.1);
    transform: translateY(-1px);
    width: 200px;
    
  }
  #web-development {
    border-bottom: solid 1px rgba(44, 68, 112, 0.1);
    width: 200px;
    border-left: none;
    border-top: none;
    
    align-items: center;
    padding: 16px 32px 0 20px;
  }
  #web-development a{
    width: 50px;
   
  }
  #web-development img {
    padding:0 9px 30px 10px ;
  }
  
  #responsive-ui{
    border-bottom: solid 1px rgba(44, 68, 112, 0.1);
    width: 200px;
    border-left: none;
    border-top: none;
   
    padding: 10px 20px 14.5px 20px;
  }
  #responsive-ui img {
   
   
    width: 55px;
    height: 50px;
    
    padding-right: 9px; 
  }
  #responsive-ui a {
    padding-top: 8px;
    
  }
  #dropdownMenuLink :hover::after {
    text-align: center;
  }
  #front-end {
    border: solid 1px #d8e0ed;
    background-color: #fff;
    text-align: center;
  
    font-family: "Work Sans";
  }
  #front-end a {
    font-size: 16px;
    
  }
  .aboutus a {
    font-size: 16px;
  }
  .web-tech {
    line-height: 1.85;
    font-size: 13px;
    text-align: left;
    color: var(--primary-heading);
  }
    /* #content */
    .privacy-banner {
        width: auto;
        height: 300px;
        background-position: center center;
        color: #fff;
        text-align: center;
        padding-top: 66px;
       background-color: #142f63;
        /* background-image: url(/assets/images/How\ we\ work\ Banner.png); */
        background-size: cover;
        margin: auto;
    }
    .privacy-head{
        padding-top: 60px;
    }
   .privacy {
       text-align: center;
       margin-top: 50px;
       color: #142f63;
       margin-bottom: 40px;
       
   }

   p{
       opacity: 0.8;
   }
   li{
       opacity: 0.8;
   }
  .privacy h1{
      font-size: 24px;
  }
  .privacy p{
      font-size: 14px;
  }
  .privacy-para{
    text-align: left;
    color: #142f63;
    font-size: 14px;

    margin: 0 auto;
  }
  
.limited-license{
    text-align: left;
     color: #142f63;
}
.limited-license h5{
   margin-top: 20px;
    margin-bottom: 10px;
}
.limited-license li{
    text-align: left;
}
/* footer */
.footer{
  margin-top: 100px;
  
}
.footer a{
  text-decoration: none;
}
.footer h5 {
  /* font-size: 16px; */
  color: #2c4470;
  margin-bottom: 27.4px;
  font-weight: 600;
}
.footer h6 {
  /* font-size: 16px; */
  color: #2c4470;
  font-weight: 500;
}
.footer a:hover {
  text-decoration: none;
  color: #0074e0;
}
.footer h6:hover {
  text-decoration: none;
  color: #0074e0;
}
.footer {
  font-family: "Work Sans";
  padding-left: 30px;
}
.footer-border{
  /* width: 100px; */
  height: 1px;
  flex-grow: 0;
  margin: 40.5px 0px 0px 0;
  background-color: #cad5e0;
}
.company-name h3 {
  font-family: "Work Sans";
  color: #0074e0;
  width: 230px;
  transform: translateX(-50px);
}

.social-media h5{
  width: 170px;
}
.social-img {
  display: flex;
  flex-direction: row;
}
.facebook {
  margin-right: 10px;
}
.instagram {
  margin-right: 10px;
}
.twitter{
  margin-right: 10px;
}
.linkedin{
  padding-top: 3px;
}
.rights-reserved p {
  font-size: 12px;
  /* text-align: left; */
  color: #2c4470;
}
.rights-reserved {
  margin-top: 8px;
  margin-bottom: 24px;
}
 .footer li {
  list-style: none;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
.company-name h3{
  width: auto;
  margin: auto;
  padding: 70px 0px 50px 30px;
  transform: none;
  }
.tech-stack h5{
  padding-top: 50px;
}
.legal h5{
  padding-top: 50px;
}
.how-we-work h5{
  padding-top: 50px;
}
.social-media h5{
  padding-top: 50px;
}
.footer-border{
  width: auto;
 
}
}

    /* nav */
    @media screen and (min-width: 320px) and (max-width: 768px){
        .navbar-toggler-icon i {
          color:#0074e0;
          font-size: 25px;
          margin: auto;
        }
        
         .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
          outline: none;
          box-shadow: none;
          
        }
        .logo {
          display: flex;
          justify-content:space-between;
          align-items: center;
        }
        .logo p{
          font-size: x-large;
        }
        .menu a{
          text-align: end;
        } 
        
      
        /* about  */
      
        
        #dropdownMenuLink {
          margin: 0;
         
        }
        #about-us-header {
          transform: translate(80%, 10%);
          
            }
      
      /* service */
      
      #start-project {
        display: none;
      }
      #services {
        width: auto;
        height: auto;
        transform: none;
      }
      /* .nav-services {
        width: 280px;
        
      } */
      #full-stack{
        margin: auto;
      }
      #product-engineering{
        margin: auto;
      }
      #cyber-security {
        border-bottom:solid 1px rgba(44, 68, 112, 0.1) ;
        margin: auto;
        
      }
      .hide-cyber{
        display: none;
      }
      #cyber-security p{
        text-align: left;
      }
      #web p{
        text-align: left;
      }
      #web{
        margin: auto;
      }
      .data-hidden{
        display: none;
      }
      #responsive-ui {
        border-bottom:none ;
      }
      /* technology */
      
        #front-end {
          transform: translate(80%, 4%);  
        }
      
      .rectangle {
          display: none;
        }
        .rectangle-30 {
          display: none;
        }
      }
      .br {
        margin-bottom: 20px; 
      }